<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Group</title>
</head>
<body>
    {% if allGroups %}
        <h1> Select group to change</h1>

       <form action = "/selectMembersToAdd/" method = "post">
            {% csrf_token %}
            <select name="groupName">
                {% for group in allGroups %}

                    <option value="{{ group.name }}">{{ group.name }}</option>

                {% endfor %}
            </select>

            <br>
            <br>
            <input type="submit" value="Submit">
        </form>

    {% else %}
        <h1>You're not in any group</h1>
        <a href="groupHome"> Go to homepage</a>
    {% endif %}
</body>
</html>