<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIEW GROUPS!</title>
</head>
<body>


    <form action = "/leaveGroups/" method = "post">
        {% csrf_token %}
        {% for group in allGroups %}
            <tr>
                <h1>Group Name: {{ group.name }}</h1>
                <h4>Group Members: </h4>
                {% for member in group.members.all %}
                    {{ member.user.get_username }}<br>
                {% endfor %}

                <br>
                Leave <input type="checkbox" name="checks" value={{ group.name }} ><br>


            </tr>
        {% endfor %}

        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>