<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Logged In</title>
</head>
<body>
<h1> YOU ARE LOGGED IN SUCCESSFULLY</h1>
<h2>Welcome, {{ user.get_username }}</h2>
<h3> You are a {{ user.customuser.get_user_type_display }}</h3>
<h3>Site Manager= {{ user.customuser.is_SiteManager }}</h3>
<h3>This is site manager page.</h3>
<form action="/deleteUser/" method = "POST"> {% csrf_token %}
    <input type= text name = "username" id="username" required>
    <input type = submit value = "Delete User"> </input>
</form>
<form action="/suspendUser/" method = "POST"> {% csrf_token %}
    <input type= text name = "username" id="username" required>
    <input type = submit value = "Suspend User"> </input>
</form>

<form action="/logout/" method = "POST"> {% csrf_token %}
    <input type = submit value = Logout> </input>

</form>
{% for message in messages %}
    <li class="{{ message.tags }}">
    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </li>
{% endfor %}


</body>
</html>